.send-header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.vocLine {
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}

.vocIcon {
    width: 21px;
    height: 21px;
}