.header {
    padding-bottom: 20px;
    color: #06d1f5;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 140px;
    pointer-events: none;
}