.header {
    padding-bottom: 20px;
    color: #06d1f5;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    width: 140px;
    pointer-events: none;
}

.user {
    display: flex;
    flex-direction: row-reverse;
    color: #000;
    color: rgba(0, 0, 0, 0.1);
}

.rules {
    cursor: pointer;
}