.simpleWindow {
  flex: 0 0 100%;
  border-image: url(../windowborder.png);
  border-image-slice: 15 4 4;
  border-image-repeat: repeat;
  border-style: solid;
  border-width: 4px;
  border-top-width: 18px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 4px;
  align-items: flex-start;

  /* & > div:first-child {
    font-size: 11px;
    margin-top: -1.4rem;
    margin-left: -0.25rem;
  } */
}

.windowHeaders {
  font-size: 10px;
  margin-top: -1.4rem;
  margin-left: -0.25rem;

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerIcon {
  height: 12px;
  cursor: pointer;
}