.App {
  /* text-align: center; */
  padding: 10px 20px 10px 20px;
  background: url('background-artwork.webp');
  background-color: #051122;
  background-position: center top;
  background-repeat: no-repeat;
  font-family: monospace;
  color: #EEE;
  font-weight: 700;
  min-height: 100vh;
}

.flex-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: space-evenly;

  flex-wrap: wrap;
}

.hidden {
  display: none;
}

.utils a {
  color: lightgray;
}

input {
  box-sizing: border-box;
  width: 100%;
  color: #fff;
  background: url(background.png);
  border: 1px inset #767676;
  border-color: #2d2d2d #767676 #767676 #2d2d2d;
  outline: none;
  padding: 0.25rem;
  font-family: monospace;

  &:disabled {
    color: gray;
  }
}

button {
  color: #d3d3d3;
  border: 1px solid;
  border-image: url(button.png) 1 fill;
  font-family: monospace;
  cursor: pointer;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  
  color: #d3d3d3;
  font-family: monospace;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image-blurred-edge {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}
